<h1>YaY</h1>

<form action="/session" method="POST">
<input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
<input type="hidden" value = "DELETE">

<button>Sign Out</button>
</form>
